.cartao{
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 15px solid green;
    position: fixed;
    top: 25px;
    right: 25px;
}

.sucesso{
    background-color: greenyellow;
    color: green;
}

.perigo{
    background-color: rgb(246, 95, 95);
    color: rgb(122, 2, 2);
    border-bottom-color: rgb(122, 2, 2);
}

.alerta{
    background-color: rgb(218, 216, 72);
    color: rgb(99, 97, 14);
    border-bottom-color: rgb(99, 97, 14);
}

.info{
    background-color: rgb(103, 198, 249);
    color: rgb(4, 13, 95);
    border-bottom-color: rgb(4, 13, 95);
}